<html>

<head>
    <title>Javascript Fetch</title>
</head>

<body>
    <div id="out1"></div>
    <div id="out2"></div> 
    <script>
        const out1 = document.getElementById('out1');
        const out2 = document.getElementById('out2');
        const url = 'https://api.myjson.com/bins/bk79l';
        fetchData();

        function fetchData() {
            fetch(url)    //Using Javascript function fetch
                .then(function (res) {
                    return res.json()
                })
                .then(function (data) {
                    console.log(data.results);
                    data.results.forEach(function (item) {
                        out1.innerHTML += `${item.name.first} ${item.name.last} <hr>`
                    })
                })
        }
        
        // var a =15
        // var b =56
        // console.log(""+a+""+b)

        // const obj = {
        //     name: "VRij",
        //     age:34
        // }
        // obj.city = "Gurugram"

        // obj = {
        //     name: "VRij",
        //     age:34,
        //     city:"Gurugram"
        // }
        // var a = 10;
        // for(a=0;a<5;a++){
        //     console.log(a);
        // }
        // console.log(a);
        // console.log(obj)
        let a= 5;
        var b= 6;
        console.log(a+b);
        a=25;
        console.log(a+b);
        function func(){

        }

        var a = func=>{
            
        }



    </script>
</body>

</html>